@model StockWebApp.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">Are you sure you want to Discontinue this product?</h2>
<div>
    <h4 class="text-danger">Todo:
        <ul>
            <li>Connect Name => Brand.Name</li>
            <li>Connect Info => Category.Info</li>
            <li>Maybe add a placeholder comment for the Expiration Date if non-exixtant/null</li>
        </ul>
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="bg-danger">
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt class="bg-danger">
            @Html.DisplayNameFor(model => model.Category.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Discontinue" class="btn btn-warning" /> |
        <button>@Html.ActionLink("Back to List", "Index")</button>
        @*<input type="url" value="Back to List" class="btn btn-primary" />*@
    </div>
      }
</div>
