@model MVCtake2.Models.Game

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<div>
    <h1>@Model.Title</h1>
    <h2><label>What genre:</label> @Model.Genre</h2>
    <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "Nope")</h5>
    <h3>@Html.Raw(Model.Description)</h3>

    @if (Model.Developers.Length > 0)
    {
        <h4>Made by:</h4>
        <ul>
            @foreach (var thing in Model.Developers)
            {
                <li>@thing</li>
            }
        </ul>
    }
    <div>
        <img src="~/Images/@Model.GamePic"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>